.inner { /*여기에 style 작성*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0px auto; /*flex 쓰지 않고 가운데 정렬*/
    width: 500px;
    height: 100%; /* %일 경우 : 상위요소 높이 만큼 적용! > 적용하고 싶은 만큼 상위요소들에도 똒같이 해줘야함*/
    background-color: #fafafa;
}

.logo-naver {
    padding: 16px 115px 16px 20px;
}

.logo-naver .link::before {
    display: block; /*노ㅠ이 너비 지정을 위해서*/
    content: '';
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-position: 0 -244px;
    background-repeat: no-repeat;
    width: 94px;
    height: 18px;
}

.content {
    flex-grow: 1;
    /*flex-shrink: 1;*/
    display: flex; /*form태그 대신 사용 ? ? ?- */
    flex-direction: column;
    justify-content: space-between; /*주축 기준을 자식들을 배치 - 위아래로 끝으로 가!*/
    padding-top: 30px;
}


.form-content {
    flex-grow: 1; /*flex에서 사용하고 남은 부분 내가 다 쓰겠따*/
    padding: 0 20px;
}


.button-submit-wrap {
    padding: 20px;
}


.button-submit {
    width: 100%;
    padding: 14px 0;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, .05);
    background: #09aa5c;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
}

.join-toggle {
    margin-top: -8px;
    text-align: right;
}

.join-toggle label{
    display: inline-block;
    position: relative;
    padding-right: 23px;
    font-size: 13px;
    letter-spacing: -0.4px;
    color: #929294;
    cursor: pointer;
}

.join-toggle input {
    display: none; /*checkbox 숨기기*/
}

.join-toggle label::after { /*label 요소 텍스트 뒤에 무언가를 추가 */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-position: -342px -248px;
    background-repeat: no-repeat;
}

.join-toggle input:checked + label::after {
    background-position: -342px -270px;
}

.form-list {
    position: relative;
    margin: 10px 0px;
    border-radius: 6px;
}

.form-item {
    position: relative;
    margin-top: -1px;
}

.form-item input[type="checkbox"],
.form-item input[type="radio"] {
    display: none; /*radio 숨기기*/
}


.form-input {
    position: relative;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #c6c6c6;
    padding: 0 10px 0 45px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}

.form-input::-webkit-input-placeholder { /*placeholder 폰트 변경*/
    font-size: 15px;
    color: #929294;
}

.form-input:focus {
    border: 2px solid #09aa5c;
    z-index: 10; /*? ? ? ? ? focus를 젤 위로 올라오게*/
}

.form-list > .form-item:nth-of-type(1) .form-input{
    border-top-left-radius: 6px ;
    border-top-right-radius: 6px;
}

.form-list > .form-item:nth-last-of-type(1) .form-input {
    border-bottom-left-radius: 6px ;
    border-bottom-right-radius: 6px;
}

.select-icon {
    content: "";
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 17px;
    width: 16px;
    height: 17px;
    z-index: 11;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-repeat: no-repeat;
    background-position: -96px -244px;
}

.form-select:focus + .select-icon {
    transform: translateY(-50%) rotate(180deg);
}


.telecom-item > input[type="checkbox"]:checked + label {
    border: 2px solid #09aa5c;
    z-index: 10; /*? ? ? ? ? focus를 젤 위로 올라오게*/
}


.telecom-list {
    display: none;
    position: absolute;
    left: 40px;
    top: 80%;
    z-index: 12;
    border-radius: 6px;
    border: 1px hidden #c6c6c6;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 2px #767678; 
    cursor: pointer;
    overflow: hidden; /*요소를 넘어선 것들은 숨기겠다 */
}


.telecom-list td {
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    padding: 11px 8px;
    width: 100px;
    font-size: 13px;
}


.form-adult {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #c6c6c6;
    padding: 0 10px;
    height: 50px;
    background-color: white;
}

.adult-group {
    display: flex;
}

.adult-group > label {
    display: block;
    box-sizing: border-box;
    padding: 6px 0;
    width: 107.75px;
    border: 1px solid #c6c6c6;
    text-align: center;
    font-size: 13px;
    color: #929294;
    cursor: pointer;
}

.adult-group > input[type=radio]:checked + label {
    border: 2px solid #09aa5c;
    color: #09aa5c;
    z-index: 11;
}


.adult-group > label:nth-of-type(1) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


.adult-group > label:nth-last-of-type(1) {
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.form-select:focus ~ .telecom-list {
    display: table;
}


.user {
    padding-right: 91px;
}

.form-item::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 9px;
    z-index: 11;
    display: block;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.user-item::after {
    background-position: -342px -64px;
}

.user-item::before {
    content: "@naver.com";
    position: absolute;
    transform: translateY(-50%);
    z-index: 11;
    top : 50%;
    right: 14px;
    color: #767678;
    font-size: 15px;
}

.password-item::before {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    z-index: 11;
    top : 50%;
    right: 14px;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    background-repeat: no-repeat;
    background-position: -256px -264px;
}

.password-item::after {
    background-position: -310px 0px;
}

.email-item::after{
    background-position: -96px -296px;
}

.name-item::after {
    background-position: -342px -64px;
}

.birthday-item::after {
    background-position: -192px -296px;
}

.telecom-item::after {
    background-position: -224px -296px;
}

.phone-item::after {
    background-position: -310px -128px;
}